* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.grid {
  display: grid;
  gap: 20px 0;
}

.container {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 1fr;
  background-color: #888;
}

#cards {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 15px
}

.single {
  grid-template-rows: repeat(autofit, 100px);
}